<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>

<h1>{{ title }}</h1>

<div class="videos-container">
  <div *ngFor="let video of videos" class="video-item">
    <div class="thumbnail-container">
      <img src="{{ video.thumbnailUrl }}" width="330" height="186" />
      <div class="duration">{{ video.uploadDateInfo }}</div>
    </div>
    <div class="text-container">
      <h3 class="title">{{ video.title }}</h3>
      <p>{{ video.description }}</p>
    </div>
  </div>
</div>
